/* GENERAL */

body {
    color: #325288;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #FAEEE7;
}
hr {
    border-style: dotted none none;
    border-color: #D96098;
    border-width: 6px;
    opacity: 100%;
    height: 0px;
    width: 5%;
    margin: 50px auto 30px auto;
}
.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    border-color: #D96098;
    color: #D96098;
    font-size: 30px;
    padding: 3px 20px 3px 20px;
    text-decoration: none;
  }
.btnContainer {
    margin: 60px auto 30px auto;
}
.btn:hover {
    background: #D96098;
    text-decoration: none;
    color: #FAEEE7;
  }
h1 {
    width: 70%;
    margin: 0 auto;
    font-family: 'Righteous', cursive;
    font-size: 4.5rem;
    color: #FAEEE7;
    line-height: 2;
    clear: both;
}
h2 {
    margin: 40px auto;
    color: #24A19C;
    font-size: 3rem;
    font-weight: bold;
    clear:both;
}
h3 {
    color: #325288;
    font-weight: bold;
    font-size: 2.5rem;
}
p {
    font-size: 1.3rem;
}
#welcome {
    font-size: 2.5rem;
    font-weight: bold;
    width: 70%;
}

/* TOP */

.topContainer {
    background-color: #325288;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Righteous', cursive;
}
.nav-item {
    padding: 0 20px;
}
.absRow {
    width: 70%;
    margin: auto;
    clear: both;
}
.topAbs {
    width: 15%;
    float: right;
}
.bottomAbs {
    width: 15%;
    float: left;
}
.mountain{
    width: 35%;
    clear: both;
}

/* MIDDLE */

.middleContainer {
    background-color: #FAEEE7;
    margin-top: 0;
    padding-top: 0;
}
#headshot{
    border-radius: 100%;
    width: 180px;
    margin-bottom: 12px;
    margin-top: 10px;
}
.profile {
    position: relative;
    width: 70%;
    margin: auto;
}
.workHistory {
    position: relative;
    width: 70%;
    margin: auto;
}
.row {
    --bs-gutter-x: 0;
}
.centCol {
    padding: 0 30px;
}
.skills {
    position: relative;
    width: 70%;
    margin: auto;
}
.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.absConnected{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.absSquare{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.contactMe {
    position: relative;
    width: 70%;
    margin: auto;
}

/* BOTTOM */

.bottomContainer {
    color: #FAEEE7;
    background-color: #325288;
    padding: 30px;
    margin-top: 50px;;
}
.footer-link {
    color: #24A19C;
    margin: 20px 30px 10px 30px;
    text-decoration: none; 
    font-size: 1.5rem;
}
.footer-link:hover {
    color:#D96098;
}