body {
  color: #325288;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #FAEEE7;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #325288;
}
.container {
  display: block;
  width: 50%;
  margin: auto;
}
.gameBtn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.7em;
  font-family: 'Righteous', cursive;
}
.nav-item {
  padding: 0 20px;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  border-color: #D96098;
  color: #D96098;
  font-size: 30px;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
} 
.btnContainer {
  margin: 60px auto 30px auto;
}
.btn:hover {
  background: #D96098;
  text-decoration: none;
  color: #FAEEE7;
}
h2 {
  margin: 40px auto;
  color: #24A19C;
  font-size: 3rem;
  font-weight: bold;
}
.bottomContainer {
  color: #FAEEE7;
  background-color: #325288;
  padding: 30px;
  margin-top: 50px;;
}
.footer-link {
  color: #24A19C;
  margin: 20px 30px 10px 30px;
  text-decoration: none; 
  font-size: 1.5rem;
}
.footer-link:hover {
  color:#D96098;
}